/* set all fonts first then style individual fonts for elements */
body {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	background-image: url("./../images/concrete_seamless.png");
	margin-bottom: 120px;
}

h1, h2, h3{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-weight: bold;
}

h1 {
	color: #ffffff;
	font-size: 2em;
}

h2 {
	color: #03aba0;
	font-size: 2em;
	padding: 0 0 30px 0;
	border-style: solid;
	border-color: #cccccc;
	border-width: 0 0 3px 0;
	margin: 0 0 25px 0;
	
}

h3 {
	color: #03aba0;
	font-size: 1.5em;
	padding: 0 0 20px 0;
	border-style: solid;
	border-color: #cccccc;
	border-width: 0 0 2px 0;
	margin: 0 0 25px 0;
}


p, a {
	color: #777777;
}

a {
	text-decoration: none;
	font-weight: normal;
}

p {
	font-size: 18px;
	line-height: 2em;
}

label {
	font-size: 18px;
	line-height: 2em;
}

span {
	font-family: 'Georgia', Times, Times New Roman, serif;
}

.navbar-static-top {
	background-color: #ffffff;
	min-height: 90px;
	margin-bottom: 0;
}

.navbar-brand {
	margin-left: 0px;
}

 a.navbar-brand  {
	color: #ffffff!important;
	background-color: #03aba0!important;
	height: 90px;
	line-height: 90px;
	padding: 0 15px;
}

.navbar-toggle {
	margin-top: 28px;
	padding: 9px 10px !important;
}


ul.navbar-right {
	margin-top: 20px;
}

.navbar-default .navbar-nav>li>a {
	color: #777777;
	font-size: 1.25em;
}

#top-nav-container {
    background-color: #ffffff;
    /* height: 90px; */
    margin-bottom: 20px;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
	min-height: 90px;
	max-height: 100%;

}

#headshot {
	max-width: 170px;
	margin-right: 20px;
}

#main-content, #sidebar-content {
	padding: 30px;
}

.portfolio-image {
	position: relative;
	margin-bottom: 30px;
}

.portfolio-image img {
	width: 100%;
}

.image-label {
	color: #ffffff;
	background-color: #03aba0;
	position: absolute;
	bottom: 15px;
	width: 100%;
	text-align: center;
	font-size: 1.5em;
	padding: 15px 0 15px 0;
	left: 0;
}


.footer p {
	margin: 0;
	background-color: #666666;
	text-align: center;
	color: #cccccc;
	font-size: .75em;
	padding: 30px 0 30px 0;
	border-width: 8px 0 6px 0;
	border-style: solid;
	border-top-color: #03aba0;
	border-bottom-color: #000000;
}

@media screen and (max-width: 992px) {
	#headshot {
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
	}
	

}

@media screen and (max-width: 767px) {
	#headshot {
		width: 50%;
	}
	ul.navbar-right {
		margin-top: 0px;
	}
	h1 {
		color: #ffffff;
		font-size: 1.25em;
		margin-top: 30px;
	}
	/* .navbar-nav > li > a {
		padding-top: 31.5px;
		padding-bottom: 31.5px;
		line-height: 27px;
	} */

}

@media screen and (max-width: 640px) {
	#headshot {
		width: 100%;
	}

}